<%- include('partials/header') %>
<div class="form-container">
    <h2>Login</h2>
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>
    <form method="post">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" value="<%= locals.username || '' %>" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" required/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Login</button>
            <a href="#forgotPass" data-toggle="modal" class="btn btn-link pull-right">Forgot password?</a>
        </div>
    </form>
</div>

<div class="modal fade" id="forgotPass" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4>Forgot Password</h4>
            </div>
            <form method="post" action="/forgotPass">
            <div class="modal-body">
                <h5>Email Address</h5>
                <input type="email" required placeholder="type-in your account's email" name="email" id="email" value="<%= locals.email || '' %>" class="form-control"/>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Send</button>
                <a class="btn btn-default" data-dismiss="modal">Close</a>
            </div>
        </form>
        </div>
    </div>
</div>
<%- include('partials/footer') %>